# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Flutter specific
**/doc/api/
flutter_export_environment.sh
pubspec.lock

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/*/local.properties
**/android/*/key.properties
**/android/app/release/
**/android/app/debug/
**/android/app/profile/

# iOS
**/ios/Flutter/.last_build_id
**/ios/.generated/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Podfile.lock
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# Web
**/web/.dart_tool/
**/web/.flutter-plugins

# Windows
**/windows/flutter/ephemeral/

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Linux
**/linux/flutter/ephemeral/

# Visual Studio Code
.vscode/
.history/

# IntelliJ / Android Studio
.idea/
*.iml

# Other
*.lock
*.log
*.tmp
*.swp
*.DS_Store
